:root {
    --container-width: 	100%;
    --purple: 			#AE8BEF;
	--green:			#5AAA7E;
	--white:			#F5F5F5;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1rem;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    min-width: 260px;
}

#groupChatPortraitMode {
	display:		block;
	width:			96vw;
	height:			96vh;
}

input, textarea, div, body {
	font-size:		1em;
}

h1 {
	font-size: 1.35em;
	font-weight: bold;
	text-decoration: underline;
	text-align:		center;
}

h2 {
	font-size: 1.35em;
	font-weight: bold;
	text-decoration: underline;
	text-align:		center;
}

h3 {
	font-size: 1.25em;
	font-weight: bold;
	text-decoration: underline;
	text-align:		center;
}

.div {
	background: 	var(--white);
	border: 		2px solid black;
	border-radius: 	5px;
	border: 		2px solid black;
	display: 		block;
	margin-bottom: 	5px;
	padding:		3px;
	vertical-align: middle;
}

#groupChatUpperChatArea {
	background: 	transparent;
	margin-top: 0;
	margin-bottom:	3px;
	height: 		70vh;
	width: 			100%;
	border: 		0px;
	padding: 		5px;
	overflow:		hidden;
}

#groupChatMainWindow, #groupChatMemberListContainer { 
	height: 		98%;
	overflow: 		hidden;
	width: 			90%;
	vertical-align:	top;
	overflow: 		scroll;
	border:			3px solid var(--purple);
	border-radius:	25px;
}

#groupChatMainWindow {
	display:		inline-block;
}

.messageSelection {
	background-color:	red;
}

.groupChatMessageContainer {
	display:		block;
	width:			auto;
	height:			auto;
	vertical-align:	middle;
	border:			none;
	min-height:		64px;
	overflow:		hidden;
	margin-bottom:	5px;
}

.nameBlock {
	display:  		block;
	width: 			auto;
	text-align: 	left;
	vertical-align: middle;
	height:			auto;
	overflow:		hidden;
	margin-left:	52px;
	font-weight:	bold;
	font-style:		italic;
	font-size: 		10pt;
	margin-bottom:	5px;
}

.groupChatWindowMessage {
	display:  			block;
	width: 				auto;
	vertical-align: 	middle;
	background-color:	rgba(200,200,250,.5);
	padding:		  	5px;
	border-radius:		12px;
	margin-bottom:		6px;
	height:				auto;
	margin-left:		52px;
}

.highlightMessage {
	background-color:  yellow;
}

#groupChatTypingWrapper {
	position:		fixed;
	height:			10vh;
	width:			inherit;
	max-width:		1100px;
	vertical-align:	bottom;
	width:	 		100%;
	bottom:			15%;
	left:			10px;
}

#groupChatTypingWrapper, footer {
	display:	block;
}

#groupChatTypingWindow {
	overflow:	scroll;
}

#groupChatTypingWindow {
	height: 	80%;
	width: 		94%;
	font-size: 	120%;
	background: white;
}

.systemMessage {
	display:  			block;
	width: 				100%;
	vertical-align: 	middle;
	background-color:	transparent;
	padding:		  	5px;
	margin-bottom:		6px;
	height:				auto;
	text-align:			center;
}

.timeStamp {
	display: 			inline-block;
	font-size:			70%;
	color:				blue;
	overflow:			hidden;
	text-decoration:	none;
	text-align:			right;
	font-weight:		normal;
	float:				right;
	vertical-align:		middle;
}

#groupChatControlButtonArea {
	position:		fixed;
	border: 		none;
	background: 	transparent;
	margin-top: 	2px;
	margin-bottom: 	15px;
	height:			5%;
	min-height:		5%;
	vertical-align:	middle;
	width:	    		100%;
	max-width:		1100px;
	bottom:			0px;
	left:			0px;
}

#groupChatSubmitButton {
	position: absolute;
	right:    	4.5%;
	bottom:		0.5%;
}

input[type='button']:hover, input[type='submit']:hover {
	background:	linear-gradient(rgba(100,100,250,1),white);
}

input[type='button'], input[type='submit'] {
	height:			2em;
	width:			auto;
	min-width:		40px;
	padding:		3px;
	border-radius:	10px;
	background:		var(--purple);
	color:			var(--white);
	margin-top:		0px;
	vertical-align: bottom;
}

input[type='submit'] {
	background-image: -o-linear-gradient(top, #D3F7FD 0%, #87C5FB 50%,#A1D1F9 50%,#D4E9FC 100%);
	background-image: -moz-linear-gradient(top, #D3F7FD 0%, #87C5FB 50%,#A1D1F9 50%,#D4E9FC 100%);
	background-image: -webkit-linear-gradient(top, #D3F7FD 0%, #87C5FB 50%,#A1D1F9 50%,#D4E9FC 100%);
	background-image: -ms-linear-gradient(top, #D3F7FD 0%, #87C5FB 50%,#A1D1F9 50%,#D4E9FC 100%);
	background-image: linear-gradient(to top, #D3F7FD 0%, #87C5FB 50%,#A1D1F9 50%,#D4E9FC 100%);
}

#groupChatScroll {
	position:		fixed;
	margin-left:   	100px;
	display:		none;
	bottom:			0.5%;
}
