body, #AllContents {
    margin:             0px;
    float:              center;
    height:             550px;
    width:              480px;
    left:               0px;
    line-height:        125%;
	font-family:		"Helvetica", "Arial","Georgia",san serif;
	font-size:			90%;
}

h1 {
	position:			absolute;
	line-height:		24pt;
	top:				0px;
	left:				105px;
	width:				350px;
	margin-left:		-10px;
	text-align:			center;
	vertical-align:		center;
	
}

#logo, img {
	height:				80px;
	display:			inline;
}

#Chat {
	position:			relative;
    margin-left:        3px;
    padding-left:       3px;
    margin-left:		15px;
	float:              center;
	top:                15px;
    height:				350px;
	width:				450px;
	background-color:	#eeeeee;
	border-style:		solid;
	border-width:		2px;
	border-color:		black;
	overflow:			auto;
	box-shadow:			10px 10px 10px gray;
	border-radius:		5px;
}


span.name {
	font-weight:		bold;
    left:               0px;
}

span.Text {
    position:           relative;
    left:               175px;
}

#MessageText textarea {
	float:              center;
 	top:				0px;
	margin:				20px 0px 10px 0px;
  	font-family:		"Helvetica", "Arial","Georgia",san serif;
}


#Message {
	    margin-left:		15px;
}

#MessageItself {
    height:				60px;
	width:				450px;
	background-color:	#eeeeee;
	border-style:		solid;
	border-width:		2px;
	border-color:		black;
    font-size:          100%;
    line-height:        125%;
}



#Send {
    margin-left:		15px;
}

.Buttons {
    margin:             0px;
    position:           absolute;
	top:				475px;
    left:               0px;
}

   

#SendButton {
    margin:             0px;
    float:              right;
    color:              white;
    margin-right:       30px;
    background:         green;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008800', endColorstr='#00AA00'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#008800), to(#00AA00)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #008800,  #00AA00); /* for firefox 3.6+ */
}

#endChatButton {
    margin:             0px;
    float:              left;
    color:              white;
    background:         red;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#990000', endColorstr='#BB0000'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#990000), to(#BB0000)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #990000,  #BB0000); /* for firefox 3.6+ */
}

