body {
	background: 	linear-gradient(#550000,  #770000);
	height:			1200px;
}


input[type='button']:hover {
	background:	linear-gradient(rgba(100,100,250,1),white);
}


input[type='button'] {
	height:			30px;
	width:			90px;
	padding:		5px;
	border-radius:	15px;
	font-weight:	bold;
	background:		white;
	margin-top:		5px;
}

h3 {
	height:			25px;
	line-height:	25px;
	vertical-align:	middle;
	padding:		0px;
	margin:			0px;

}
	


.userBlockSingleDay {
	display:		inline-block;
	background:		yellow;
	height:			40px;
	min-width:		120px;
	border-radius:	10px;
	margin-left:	8px;
	text-align:		center;
	font-weight:	bold;
	padding:		5px;
}


.userBlock {
	display:		inline-block;
	background:		transparent;
	height:			20px;
	width:			25px;
	border-radius:	6px;
	margin-left:	3px;
	text-align:		center;
	font-weight:	bold;
	padding-left:	5px;
	font-size:		10pt;
}


.timeBlock {
	font-size:		9pt;
	text-aligh:		center;
	display:		inline-block;
	width:			50px;
	padding-left:	3px;
	cursor:			pointer;
}



.shiftBlock, .shiftBlockSingleDay {
	display:		block;
	border-bottom:	1px solid black;
	vertical-align:	middle;
	text-align:		left;
	margin-top:		2px;
	margin-left:	2px;
	background-color:	white;
	cursor:			pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.shiftBlockSingleDay {
	min-width:		510px;
	min-height:		40px;
	line-height:	40px;
}

.shiftBlock {
	width:			184px;
	height:			20px;
	line-height:	20px;
	overflow:		hidden;
}

.calendarDateToken {
	display:		block;
	height:			48px;
	width:			48px;
	border-radius:	12px;
	border:			1px solid black;
	line-height:	52px;
	vertical-align:	middle;
	text-align:		center;
	font-size:		24pt;
	font-weight:	bold;
	margin-left:	120px;
	margin-top:		2px;
	cursor:			pointer;

}

.calendarDay, calendarDayBlockArea {
	position:		relative;
	top:			0px;
	display:		inline-block;
	height:			425px;
	border:			3px solid red;
	line-height:	500px;
	vertical-align:	top;
	background-color:	white;
}

.calendarDaySingleDay, calendarDayBlockAreaSingleDay {
	min-width:			520px;
	min-height:			740px;
}


.calendarDay, calendarDayBlockArea {
	width:			190px;
	height:			3900x;
}


.calendarDayBlockArea {
	overflow:		auto;
	margin:			1px;
	border:			1px solid black;
	background-color:	silver;
}

.calendarDayHeader {
	height:				40px;
	background-color:	RGB(200,200,200);
	text-align:			center;
	font-size:			20pt;
	font-weight:		bold;
	line-height:		45px;
	vertical-align:		middle;
	padding:			0px;
	margin-left:		-4px;
}


.calendarHeader {
	margin-left:		15px;
	padding:			0px;
	width:				1500px;
}


.calendarWeek {
	display:		block;
	width:			2337px;
	height:			426px;
	border:			0px dotted blue;
	text-align:		left;
}

.calendarMonth {
	display:		block;
	width:			2337px;
	border:			5px solid transparent;
	padding-left:	5px;
	text-align:		center;
	margin-top:		-6px;
}

#calendarTitle {
	text-align:		center;
	color:			silver;
	display:		inline;

}

#monthTitleArea {
	width:			1337px;
	text-align:		center;
	font-size:		200%;
}





.calendarSingleDay {
	position:		relative;
	top:			0px;
	display:		block;
	margin-left:	350px;
	min-width:			525px;
	min-height:			435px;
	vertical-align:	top;
	background-color:	transparent;
}