body {
	width:		1280px;
	background:	white;
	color:		#5a0000;
	height:		700px;
	font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;

}



input[type='button']:hover, #nextMonthButton:hover, #priorMonthButton:hover {
	background:	linear-gradient(rgba(100,100,250,1),white);
	border-radius:		5px;
}



#calendarTopArea {
	width:			1255px;
	height:			170px;
	padding:		5px;
	background: linear-gradient(to bottom, gray 0%,silver 100%); 
	margin:			0px;
	margin-bottom:	20px;
	border-radius:	10px;
}
 #calendarLogoffButton {
	float:			right;
	margin-top:		-20px;
 }

#calendarModeForm {
	position:		absolute;
	top:			15px;
	left:			15px;
	height:			45px;
	width:			140px;
	display:		inline-block;
	text-align:		left;
	border:			3px engraved red;
	background:	linear-gradient(rgba(200,200,200,.75),white);
	padding:		5px;
	padding-top:	10px;
	border-radius:	10px;
	font-size:		10pt;
}

#calendarTitle {
	position:		absolute;
	top:			140px;
	left:			10px;
	width:			870px;
	font-size:		200%;
	font-weight:	bold;
	background:		transparent;
	text-align:		center;
	display:		inline-block;
	margin-left:	200px;
}


#userListBlock {
	position:		absolute;
	top:			15px;
	left:			1004px;
	width:			230px;
	height:			155px;
	text-align:		left;
	background:		transparent;
	font-size:		90%;
	font-weight:	bold;
	display:		inline-block;
	line-height:	18px;	
	margin-bottom:	5px;
	margin-left:	4px;
	border:			3px engraved red;
	background:	linear-gradient(rgba(200,200,200,.75),white);
	padding:		5px;
	padding-top:	10px;
	border-radius:	10px;
}

#userTypes, #userLocationSelectTypes, #userShiftDatesForm {
	height:			60px;
	top:			40px;
	display:		inline-block;
	border:			2px inset silver;
	background:		silver;
}


#userTypes {
	position:		absolute;
	left:			5px;
	width:			135px;
}

#userLocationSelectTypes {
	position:		absolute;
	left:			150px;
	width:			80px;
}

#userShiftDatesForm {
	position:		absolute;
	height:			50px;
	top:			110px;
	display:		inline-block;
	left:			5px;
	width:			225px;
}


#userTypes span {
	display:		inline-block;
}

#userList {
	border: 0 !important;  /*Removes border*/
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/
	background-color:	white;      			
	text-align:		center;
	font-size:		inherit;
	font-weight:	inherit;
	display:		inline;
}

#screenTitle {
	width:			inherit;
	height:			50px;
	line-height:	25px;
	text-align:		center;
}

#messageArea {
	color:			yellow;
	font-weight:	bold;
	font-size:		120%;
	text-align:		center;
	margin-top:		20px;
	border:			2px solid white;
	background-color:	#00BFFF;
	margin-left:	350px;
	width:			550px;
	height:			30px;
	display:		none;

}	
	

.calendarDayHeader, .calendarDay{
	height:				40px;
	background-color:	RGB(200,200,200);
	text-align:			center;
	font-size:			20pt;
	font-weight:		bold;
	line-height:		45px;
	vertical-align:		middle;
	padding:			0px;
	margin-left:		-4px;
	margin-right:		-4px;
	margin-top:			0px;
	margin-bottom:		0px;
	width:				175px;
	display:			inline-block;
	border:				4px solid black;
	z-index:			10;
}

#calendar {
	height:				100%;
	background-color:	transparent;
	width:				1270px;
	display:			block;
}

#weeklyShifts  {
	height:				510px;
	background-color:	gray;
	width:				1270px;
	overflow:			auto;
	display:			hidden;
	overflow:           hidden;
}


.calendarDay {
	margin-right:		0px;
	height:				565px;
	border-left:		4px;
	border-right:		4px;
	border-top	:		0px;
	border-bottom:		4px;
	border-color:		black;
	border-style:		solid;
	z-index:			0;
	text-align:			left;
	overflow-y:			auto; /* Add this line to enable vertical scrolling */
}

.dayToken {
	margin:				5px;
	height:				40px;
	width:				40px;
	border:				1px solid gray;
	line-height:		40px;
	vertical-align:		middle;
	text-align:			center;
	font-size:			18pt;
	display:			inline-block;
	border-radius:		5px;
}


.blockName {
	font-size:			9pt;
	font-weight:		normal;
	display:			inline-block;
	width:				50px;
}

.blockElement {
	height:				26px;
	line-height:		26px;
	vertical-align:		middle;
	font-size:			9pt;
	font-weight:		normal;
	border:				1px dotted black;
}


.userBlock {
	height:			22px;
	width:			25px;
	line-height:	24px;
	border:			1px solid blue;
	border-radius:	3px;
	text-align:		center;
	font-size:		10pt;
	font-weight:	bold;
	margin-left:	1px;
	display:		inline-block;
	color:			#5a0000;
}

.userInOffice {
	background-color:	RGBA(173, 216, 230, 1);
}

.userRemote {
	background-color:	RGBA(250, 181, 127, 1);
}

.userBuddyShift {
	background-color:	RGBA(100, 250, 100, 1);
}

.userResourceOnly {
	background-color:	white;
}

.currentUserBlock {
	background-color:	RGBA(250, 181, 127, 1);
}

.selectedUserBlock {
	background-color:	purple;
	color:				white;
}

.futureUserBlock {
	border:			3px solid MediumSeaGreen;
	opacity:		1;
	color:			rgba(0,0,0,.5);
}

.endingUserBlock {
	border:			3px solid black;
	color:			gray;

}


.futureUserBlockLegend {
	border:			3px solid MediumSeaGreen;
	background-color:RGBA(250, 181, 127, .5);
	color:			rgba(0,0,0,.5);
}

#colorLegend {
	position:		absolute;
	background:		gray;
	top:			80px;
	left:			15px;
	font-size:		9pt;
	line-height:	12pt;
	border:			3px engraved red;
	background:		linear-gradient(rgba(200,200,200,.75),white);
	padding:		5px;
	padding-top:	5px;
	border-radius:	10px;
	min-width:		270px;
}

.tableGap {
	width:			20px;
}


#deleteConfirmDialog, editConfirmDialog {
	position: 		absolute;
	top:			0px;
    left: 			0px;
    height: 		140px;
    line-height: 	20px;
    width:	 		280px;
   	border: 		1px solid gray;
    border-radius:	10px;
    background: 	white;
    text-align: 	center;
	box-shadow: 	10px 10px 10px gray;
	z-index:		1000000000;
	padding:		5px;
	visibility:		hidden;
}



#deleteConfirmDialog input, editConfirmDialog input {
	width:			85px;
	font-weight:	bold;
}


#ExitButton {
	position:			absolute;
	background-color:	#990000;
	top:				10px;
	left:				1110px;
	height:				32px;
	width:				131px;
	white-space:		nowrap;
	overflow:			hidden;
	display:			block;
	border:             3px outset #A08010;
	font-family:        arial, san-serif;
	font-size:          75%;
	text-align:         center;
	font-weight:        bold;
	cursor:             pointer;
	background:		 	radial-gradient(#BB0000, #880000);
	border-radius:		15px;
	line-height:		32px;
	color:				silver;
}


#blockColorLegend {
	position:		absolute;
	left:			200px;
	top:			110px;
	text-align:		center;
}

#emptyShiftLegend {
	height:			15px;
	width:			60px;
	background:		RGBA(255, 255, 0, .65);
}


#fullShiftLegend {
	height:			15px;
	width:			60px;
	background:		silver;
}



#nextMonthButton, #priorMonthButton {
	position:		absolute;
	display:		block;
	width:			50px;
	height:			20px;
	background:		white;
	color:			blue;
	border-radius:		5px;
	top:			150px;
	text-align:		center;
	vertical-align:	middle;
	font-weight:	bold;
	line-height:	20px;
	font-size:		125%;

}

#nextMonthButton {
	left:			800px;
	display:		block;
}

#priorMonthButton {
	left:			400px;
	display:		block;
}

.notes {
	display:		inline-block;
	width:			390px;
	height:			175px;
	border:			3px inset black;	
	margin:			2px;
	overflow:		auto;
	padding:		7px;
}


#notes1 {
	position:		absolute;
	top:			770px;
	left:			10px;
}
	
#notes2 {
	position:		absolute;
	top:			770px;
	left:			430px;
}

#notes3 {
	position:		absolute;
	top:			770px;
	left:			850px;
}

#notesForm {
	display:		none;
}

#calendarNotesSaveButton {
	position:		relative;
	top:			205px;
}


#openShiftsButton {
	position:		relative;
	top:			205px;
	left:			100px;
}

#openShiftsResults {
	position:		relative;
	top:			240px;
	left:			20px;
}

.dayName {
	font-size:		65%;
	color:			#666666;
}


.Sunday {
}

.Monday {

}

.Tuesday {
}

.Wednesday {
}

.Thursday {
}

.Friday {
}

.Saturday {
}


